.App{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 7% 5% 87%;
  height:100%;
  width: 100%;
}

.App > .Header{
  grid-column: 12 span;
  height: 100%;
  background-color: blue;
}

.App > .Menu{
  grid-column: 12 span;
  grid-row: 1 span;
  height: 100%;
}

.App > .Main{
  grid-column: 12 span;
  grid-row: 9 span;
  height: 100%;
  background-color: green;
}